@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
ul li:hover ~ .cursor
{
    transform: scale(5);
}
}

@layer components{
    ::-webkit-scrollbar {
        width: 12px;
        display:none
      }
    
      ::-webkit-scrollbar-track {
        background: black;
      }
    
      ::-webkit-scrollbar-thumb {
        background: black;
      }
    
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
}